	#('#')include("/common/include/pageTitleBread.html")
	<div id="page-content">
			<div class="col-lg-12">
		        <div class="panel">
		            <div class="panel-heading">
		                <h3 class="panel-title" style="text-align:center;">
		                	#('#')@installPJaxGoBackBtn()
		                	添加
		                </h3>
		            </div>
		            <form id="editForm" class="panel-body form-horizontal form-padding">
						<input type="hidden"  name="#('#')(formModelName).id" class="form-control" value="#('#')(o?o.id:'')">
		                #for(col:ifShowOnColA)
			                <div class="form-group">
			                    <label class="col-md-2 control-label">#(ifShowOnColN[for.index])</label>
			                    <div class="col-md-8">
			                        <input type="text"  name="#('#')(formModelName).#(col)" class="form-control"  value="#('#')(o?o.#(col):'')" #('#')if(view=='detail') readonly #('#')end>
			                        <small class="help-block">请输入#(ifShowOnColN[for.index])</small>
			                    </div>
			                </div>
		                #end
		                	#("#")if(view=='detail')
			                
				            #("#")else
			            	<div class="panel-footer">
			                    <div class="row">
			                        <div class="col-sm-8 col-sm-offset-3">
			                            <button class="btn btn-warning" type="reset" #('#')if(view=='detail') disabled #('#')end>重置</button>
			                            <button class="btn btn-mint" type="submit" #('#')if(view=='detail') disabled #('#')end>保存</button>
			                        </div>
			                    </div>
			                </div>
				            #("#")end
		            </form>
		        </div>
		    </div>
	</div>
	<script>
		function save(){
			var data = common_ajax.ajaxFunc("/admin/#(parentPackageName)/save", $('#editForm').serialize(), "json", null);
			if(data.success){
				pointLion.alertMsg("保存成功!" , "success" , "small" , function(){
					doPjax(ctx+'/admin/#(parentPackageName)/getListPage');//跳转到列表页
				},data);
			}else{
				pointLion.alertMsg(data.message , "danger" , "small" , function(){
					$(".btn").removeAttr("disabled");
				},data);
			}
		}
		$(document).ready(function() {
			$('#editForm').bootstrapValidator({
	            fields: {
	            }
	        }).on("success.form.bv", function (e) {
	            save();
	            return false;//阻止表单跳转
	        });
		});
	</script>