<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>JFinalOA</title>
<link rel="stylesheet" type="text/css" href="${ctx!}/common/lib/layui/css/layui.css" />
<script type="text/javascript" src="${ctx!}/common/lib/layui/layui.js"></script>
<script type="text/javascript" src="${ctx!}/common/js/ajax.js"></script>
</head>
<body>
<!-- 顶部导航 -->
<%
	include("/WEB-INF/admin/home/header.html"){}
%>
<div id="container">
	<!-- 左侧导航 -->
	<% include("/WEB-INF/admin/home/lefter.html"){} %>
	<!-- 主要内容 -->
	<div id="main-content" style="margin-left:200px;">
		<% include("/WEB-INF/admin/home/content.html"){} %>
	</div>
</div>
 <script>
 var ctx = "${ctx!}";
 var $;//初始化jquery
 layui.use(['element','jquery'], function(){
	 $ = layui.jquery;
 });
 </script>
</body>
</html>