<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>JFinalOA</title>
<link rel="stylesheet" type="text/css" href="${ctx!}/common/lib/layui/css/layui.css" />
<link rel="stylesheet" type="text/css" href="${ctx!}/common/css/common.css" />
<script type="text/javascript" src="${ctx!}/common/lib/layui/layui.js"></script>
<script type="text/javascript" src="${ctx!}/common/js/ajax.js"></script>
</head>
<body>
<!-- 顶部导航 -->
<%
	include("/WEB-INF/admin/home/header.html"){}
%>
<div id="container" style="position: absolute;top: 60px;left: 0px;right: 0px;bottom: 0px;">
	<!-- 左侧导航 -->
	<% include("/WEB-INF/admin/home/lefter.html"){} %>
	<!-- 主要内容 -->
	<div id="main-content" style="position: absolute;left: 200px;right: 0px;top: 0px;bottom: 0px;">
		<% include("/WEB-INF/admin/home/content.html"){} %>
	</div>
</div>
<script>
	var ctx = "${ctx!}";
	var $;//初始化jquery
	layui.use(['element','jquery'], function(){
	 	$ = layui.jquery;
	});
</script>
</body>
</html>