.panel-body > h4{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 100px 0 5px !important
}
.panel-body > hr{
    margin: 0 !important;
    display: none
}
.demo-icon-list{
    max-width: 957px;
    padding: 0 0px !important;
    margin: 0 auto !important;
    text-align: center
}
.demo-icon-list > div{
    float: none;
    width: auto;
    display: inline-block;
    padding: 0 !important;
    margin: 0 !important;
}
.demo-icon{
    font-size: 1.29em;
    line-height: 48px;
    display: inline-block;
    width: 48px;
    height: 48px;
}
.demo-icon i{
    padding: 0 !important;
    width: auto;
}
.demo-icon span{
    display: none !important;
}
