body{
	height: 100%;
	position: absolute;
	width: 100%;
}
.breadcrumb{
	list-style: none;
	padding-left:20px
}
.breadcrumb > li{
	display: inline-block;
	color : #888888;
}
.breadcrumb > li > a{
	color : #888888;
}
.breadcrumb > li > .divider{
	padding : 0 15px;
	color : #888888;
}
.layui-elem-quote{
	padding: 11px;
}
.site-block-full {
    padding: 20px;
	border: 1px solid #eee;
	margin: 0 10px;
	position: absolute;
	top: 54px;
	bottom: 10px;
	left: 0px;
	right: 0px;
}
.pages{
	margin:0 auto;
	width: 750px;
	position: absolute;
	bottom: 0px;
}

.clear {
    clear:both; 
    height: 0; 
    line-height: 0; 
    font-size: 0;
}
