#("#")@adminLayout()
#("#")define main()
<div class="admin-content-box">
	<!-- 列表 -->
	<div class="jf-admin-panel-box">
		<div>
			<button class="layui-btn" onclick="showFancyBox('/#(basePath)/#(classNameSmall)/add">添加#(tablemeta.remarks)</button>
		</div>
		<table class="layui-table" lay-skin="line">
		  <thead>
		    <tr>
		   	#for(x : tablemeta.columnMetas)
		      <th>#(x.remarks)</th>
			#end
		      <th>操作</th>
		    </tr>
		  </thead>
		  <tbody>
		   #("#")for(x : page.list)
		    <tr>
		    	#for(x : tablemeta.columnMetas)
		      	<td>#("#")(x.#(x.name))</td>
		      	#end
		      <td>
					<span onclick="showFancyBox('/#(basePath)/#(classNameSmall)/view?id=#("#")(x.id)')">查看</span>
					<span onclick="showFancyBox('/#(basePath)/#(classNameSmall)/edit?id=#("#")(x.id)')">更新</span>
					<span onclick="showFancyBox('/#(basePath)/#(classNameSmall)/delete?id=#("#")(x.id)')">删除</span>
		      </td>
		    </tr>
		   #("#")end
		  </tbody>
		</table>

		#("#")@paginate(accountPage.pageNumber, accountPage.totalPage, "/#(basePath)/#(classNameSmall)/list?p=")

	</div>

</div>
#("#")end

#("#")define css()

#("#")end

#("#")define js()

	<script type="text/javascript">

	</script>
#("#")end
